* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "karla";
  src: url(../font/Karla-VariableFont_wght.ttf);
}
@font-face {
  font-family: "lusitana";
  src: url(../font/Lusitana-Regular.ttf);
}
body {
  background-color: #e1d2bd;
}
img {
  width: 100%;
  height: auto;
}
.sektion2 {
  background-color: #d8c5aa;
}

a {
  text-decoration: none;
  color: black;
  /* border: sod 2px black; */
  /* padding: 10px 20px; */
  font-family: "lusitana";
  line-height: 170%;
}
a:hover {
  color: rgb(114, 113, 113);
  border-color: rgb(114, 113, 113);
}

section {
  padding: 15px;
}
p {
  text-align: left;
  font-family: lusitana;
  line-height: 170%;
  /* margin-right: 10px; */
  margin: 30px;
}
.psykolog {
  margin: 0;
}
.menu {
  margin: 0;
  font-family: "karla";
}
.menua {
  font-family: "karla";
}
ul {
  font-family: "lusitana";
  font-size: 16px;
  line-height: 170%;
}
h1,
h2,
h3,
h4 {
  font-family: lusitana;
}
h2 {
  margin-left: 30px;
  margin-top: 30px;
}
.banner {
  display: grid;
  position: relative;
}
.bannertitel {
  color: white;
  position: absolute;
  font-family: karla;
  margin-top: 15px;
  margin-left: 150px;
}
.kontaktbtn {
  margin-left: 160px;
  font-size: 15px;
  border: solid 2px black;
  padding: 10px 20px;
}

.merebtn {
  margin-left: 160px;
  font-size: 15px;
  border: solid 2px black;
  padding: 10px 20px;
}
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    margin: 1em;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  /* nav.active .menu {
    display: block;
    background-color: #595731;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
  } */
  /* nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 20px;
    color: #ffffff;
  }*/
  .banner-img {
    background-image: url(../img/banner.webp);
  }

  .banner-img h1 {
    color: #ffffff;
    padding: 1em;
    font-family: "karla";
    letter-spacing: 2px;
    font-weight: lighter;
    text-align: center;
  }
}
@media (width>=800px) {
  body {
    max-width: 90%;
    margin: auto;
  }
  .sektion2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section {
    padding-bottom: 50px;
  }
  .fagfolkimg {
    grid-column: 1/2;
    max-width: 600vw;
    margin-top: 25%;
    padding-left: 30px;
  }
  .ledelse {
    grid-column: 2/3;
    margin-left: 30px;
  }
  .margin {
    margin-right: 300px;
  }
  /* .bannertitel {
    margin-top: 60px;
    margin-left: 100px;
  } */

  .banner-img {
    background-image: url(../img/banner.webp);
  }
  .banner-img h1 {
    text-align: start;
    margin-left: 2em;
    padding: 2em;
    color: #ffffff;
  }

  p,
  ul {
    /* font-size: 24px; */
  }

  h2 {
    margin-top: 70px;
    /* font-size: 40px; */
  }
  /* a {
    padding: 10px 50px;
  } */
  .kontaktbtn,
  .merebtn {
    margin-left: 300px;
    font-size: 26px;
    padding: 10px 50px;
  }
}
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #595731;
  z-index: 1000;
  min-width: 200px;
}
