/* TEST */
.test {
  padding: 300px;
}

/* GENERAL */
main {
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}

@media (min-width: 800px) {
  body {
    max-width: 90%;
    margin: auto;
  }
}

body {
  background-color: #e1d2bd;
}

@media (max-width: 800px) {
  .menu {
    display: none;
    font-family: "karla";
  }
  .burger {
    display: block;
    margin: 1em;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: #595731;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  nav.active .menu li {
    margin: 10px 20px;
  }
  nav.active .menu a {
    font-size: 20px;
    color: #ffffff;
  }
}
