/* MENU */
.header-menu{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #595731;
    padding: 10px 10px;
  }

  nav ul{
    list-style: none;
    display: flex;
    gap: 45px;
    margin-right: 50px;
  }
  
  nav ul li{
    position: relative;
  }
  

/* MENU DROPDOWN */
  nav ul .dropdown{
    display: none;
    position: absolute;
    background-color: #595731;
    padding: 10px 0;
    min-width: 150px;
    z-index: 20;
  }

  nav ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  
  nav ul .dropdown li{
    padding: 5px 20px;
  }
  
  nav ul .dropdown li a{
    font-weight: normal;
  }
  
  .has-dropdown:hover .dropdown{
    display: block;
  }